.block
  %h3 OMG WUT NAO?!?
  .content
    %p
      So you are here. That's a start. Now it is time to edit some content for the site. Keep in mind you are trying to 
      create something informative and useful. So get to work, slacker! Create some content!
.block
  %h3 Links
  %ul.navigation
    %li=link_to "Markdown Syntax", "http://daringfireball.net/projects/markdown/syntax"
    %li=link_to "Fikus on Github", "http://github.com/bratta/fikus"