#block-text.block
  .content
    %h2.title Dashboard
    .inner
      %p.first
        This is your dashboard. There are many like it, but this one is yours. From here you can see above you links 
        to edit pages and accounts. Pages are the meat of the application, and accounts are pretty secondary and weak.
        We're just using the default Padrino admin account interface.
      %p
        %span.gray
          "Fikus dreamed a dream for me / It cost me nothing it was free / He dreamed of walking in the sand / Of blossoms forming in his hand" / -- from Fikus, by Phish
      %hr
      %p
        The rest of this is just filler text. You can edit admin/views/base/index.haml to change this text to give
        important notices to your users. Or you can edit admin/views/base/_sidebar.haml to change the sidebar text you see
        to the right.
        %span.hightlight
          OMG Muh text is highlighted and I don't know why!!! HALP!!!1

-content_for :sidebar, partial("base/sidebar")